Config { font = "xft:FiraMono Nerd Font:pixelsize=18:antialias=true:hinting=true"
       , additionalFonts = []
       , borderColor = "black"
       , border = TopB
       , bgColor = "black"
       , fgColor = "grey"
       , alpha = 255
       , position = Bottom
       , textOffset = -1
       , iconOffset = -1
       , lowerOnStart = True
       , pickBroadest = False
       , persistent = True
       , hideOnStart = False
       , iconRoot = "."
       , allDesktops = True
       , overrideRedirect = True
       , commands = [ Run Weather "ULLI" ["-t","<station>: <tempC>C",
                                          "-L","18","-H","25",
                                          "--normal","green",
                                          "--high","red",
                                          "--low","lightblue"] 9000
                    , Run Network "eth0" ["-L","0","-H","32",
                                          "--normal","green","--high","red"] 10
                    , Run Network "eth1" ["-L","0","-H","32",
                                          "--normal","green","--high","red"] 10
                    , Run Cpu ["-t", " <total>%","-L","3","-H","50",
                               "--normal","green","--high","red"] 10
                    , Run Memory ["-t"," <usedratio>%"] 10
                    , Run BatteryP ["BAT1"]
                            ["-t", " <left>% (<acstatus>)",
                            "-L", "20", "-H", "80",
                            "--", "-i", "",
                            "-O", "CHR",
                            "-o", "DIS",
                            "-l", "red",
                            "-m", "blue",
                            "-h", "green",
                            "--on-icon-pattern","",
                            "-a", "notify-send -u critical 'Battery running out!!'"
                            ] 360
                    , Run Swap ["-t", "<usedratio>%"] 10
                    , Run Com "/bin/bash" ["-c", "xkb-switch"] "keyboard" 30
                    , Run Com "/bin/bash" ["-c", "/home/contramund/.xmonad/get_volume.sh"]  "myvolume" 10
                    , Run Date "%a %b %_d %Y %H:%M:%S" "date" 10
                    , Run Com "/bin/bash" ["-c", "/home/contramund/.xmonad/trayer-padding-icon.sh"] "trayerpad" 20
                    , Run UnsafeStdinReader
                    ]
       , sepChar = "%"
       , alignSep = "}{"
       , template = "   %UnsafeStdinReader% }{ %battery% | %keyboard% | %cpu% | %memory% * %swap% |  %myvolume% | <fc=#ee9a00>%date%</fc>| %ULLI% |%trayerpad%"
       }
