Config { font = "Mononoki Nerd Font 15"
       , additionalFonts = []
       , borderColor = "black"
       , border = TopB
       , bgColor = "black"
       , fgColor = "grey"
       , alpha = 255
       , position = Static {xpos = 20, ypos = 1090, width = 1880, height = 40 }
       , textOffset = -1
       , iconOffset = -1
       , lowerOnStart = True
       , pickBroadest = False
       , persistent = True
       , hideOnStart = False
       , iconRoot = "."
       , allDesktops = True
       , overrideRedirect = True
       , commands = [ Run Weather "ULLI" ["-t","<station>: <tempC>C",
                                          "-L","18","-H","25",
                                          "--normal","green",
                                          "--high","red",
                                          "--low","lightblue"] 9000
                    , Run Network "eth0" ["-L","0","-H","32",
                                          "--normal","green","--high","red"] 10
                    , Run Network "eth1" ["-L","0","-H","32",
                                          "--normal","green","--high","red"] 10
                    , Run Cpu ["-t", "  <total>%","-L","3","-H","50",
                               "--normal","green","--high","red"] 10
                    , Run Memory ["-t"," <usedratio>%"] 10
                    , Run BatteryP ["BAT1"]
                            ["-t", " <left>% (<acstatus>)",
                            "--Low", "10", "--High", "70",
                            "--low", "red",
                            "--high", "green",
                            "--", "-i", "",
                            "-O", "CHR",
                            "-o", "DIS",
                            "--on-icon-pattern","",
                            "-a", "/home/contramund/.config/xmobar/notify-proper-send.sh"
                            ] 60
                    , Run Swap ["-t", "<usedratio>%"] 10
                    , Run Com "/bin/xkb-switch" [] "keyboard" 30
                    , Run Com "/bin/bash" ["-c", "/home/contramund/.config/xmonad/get_volume.sh"]  "myvolume" 10
                    , Run Date "%a %b %_d %Y %H:%M:%S" "date" 10
                    , Run Com "/bin/bash" ["-c", "/home/contramund/.config/xmonad/trayer-padding-icon.sh"] "trayerpad" 20
                    , Run UnsafeStdinReader
                    ]
       , sepChar = "%"
       , alignSep = "}{"
       , template = "   %UnsafeStdinReader% }{ %battery% | %keyboard% | %cpu% | %memory% * %swap% |   %myvolume% | <fc=#ee9a00>%date%</fc> |%trayerpad%"
       }
